SECRET_KEY=caps-vnzla-secret
DATABASE_URL=sqlite:///caps_vnzla.db
CURRENCY_RATE_BS=35.0
SHIPPING_COST_USD=5.0
WHATSAPP_PHONE=584122967035
ADMIN_DEFAULT_USERNAME=admin
ADMIN_DEFAULT_PASSWORD=cambia-esta-clave
